extends layout

block content
  h1 #{pet_info.name} update:

  form(method='POST')
    div.form-group
      label(for='pet_name') Change Name:
      input#pet_name.form-control(type='text' name='pet_name' required value=(undefined===pet_info ? 'pet undefined' : pet_info.name) )

    div(class='update-controls')
        a(href='/catalog/pets')
          button.btn.btn-primary(class='btn-danger') Cancel
        button.btn.btn-primary(type='submit') Update

  if errors
    ul
      for error in errors
        li!= error.msg